/* 화면레이아웃 */
.Treatment {
  display: flex;
  flex-direction: column;
  margin: 1%;
}
.Treatmentup {
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 100%;
}
.Treatmentdown {
  display: flex;
  
  flex-direction: row;
  height: 50%;
  width: 100%;
}

/* TreatmentPatientList */

.TreatmentPatientList {
  display: flex;
  flex-direction: column;
  width: 30%;

}

.TreatmentPatientList_title {
  font-weight: bold;
  font-size: larger;
}

.TreatmentPatientList_border {
  padding: 5% 10px 0 10px;
  font-size: small;
}

.TreatmentPatientList_search {
  margin-left: 2.5%;
  margin-bottom: 1%;
}

.row_1 {
  color: #009900;
  margin-left: 20%;
}

.row_2 {
  color: #00AAF0;
  margin-left: 3%;
}

.TreatmentPatientList_Totaltable{
  overflow-y: auto;
  height: 400px;
}

.TreatmentPatientList_table {
  
  
  text-align: center;
  font-size: small;
 
}

.TreatmentPatientList_table_thead {
  background-color: lightgray;
  /* width: 100%; */
}

/* TreatmentCreateForm*/
.TreatmentCreateForm {
  height: 50%;
  margin-left: 20px;
  width: 70%;
}
.TreatmentCreateForm_title {
  font-weight: bold;
  font-size: larger;
}

.TreatmentCreateForm_pop{
 float: right; 
 margin-right: 20px;
 height: 0.7px;
 cursor: pointer;
 
}

.TreatmentCreateForm_border {
  display: flex;
  flex-direction: row;
}

.TreatmentCreateForm_1 {
  width: 35%;
  margin: 1%;
}
.TreatmentCreateForm_1_border{
  
}

/* .TreatmentCreateForm_1_title {
  font-size: small;
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: lightgray;
}
.TreatmentCreateForm_1_content {
  margin: 3%;
  width: 100%;
  font-weight: bold;
  font-size: small;
} */


.TreatmentCreateForm_1_1_title{
  font-size: small;
  /* color: white; */
  text-align: center;
  font-weight: bold;
  background-color: lightgray;
}

.TreatmentCreateForm_1_1_content{
  width: 100%;
  height: 100%;
  resize: none;
  font-size: small;
  /* margin-bottom: 5px; */
}

.TreatmentCreateForm_1_content_input{
  width: 89.5%;
  height: 18%;
  margin-bottom: 10px;
  /* border: 1px solid gray; */
}

.TreatmentCreateForm_2 {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 1%;
 
  
}
.TreatmentCreateForm_2_border{
 height: 100%;
 margin-bottom: 10px;
}
.TreatmentCreateForm_2_title{
  font-weight: bold;
  font-size: small;
  /* color: white; */
  text-align: center;
  background-color: lightgray;

}

.TreatmentCreateForm_2_content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85%;
  margin-top: 3%;
  margin-left: 3%;
  
}
.reatmentCreateForm_select {
  font-size: small; 
  margin-right: 2%;
  /* flex-grow: 1; */
}
.reatmentCreateForm_checkbox {
  
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  /* font-size: small;  */
  width: 70%;

}
.reatmentCreateForm_checkbox_1{
  display: flex;
  flex-direction: row;
  margin-left: 4%;
  font-size: small;
  margin-top: 2%;
  
}


.TreatmentCreateForm_3 {
  display: flex;
  flex-direction: row;
  width: 30%;
  /* margin: 1%; */
  margin-top: 1%;
  /* margin-left: 30%; */
}
.TreatmentCreateForm_3_border{
  height: 80%;
  width: 87%;
  margin-left: 5%;
}
.TreatmentCreateForm_3_title{
  font-weight: bold;
  font-size: small;
  /* color: white; */
  text-align: center;
  background-color: lightgray;
}


.TreatmentCreateForm_3_content {
  height: 95%;
  width: 100%;
  resize: none;
  font-size: small;
}

.TreatmentCreateForm_4{
 
  /* margin-top: 32%;
  width: 7%; */

  margin-left: 70%;
}

/* TreatmentHistoryList */
.TreatmentHistoryList {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  width: 30%;
 

  /* margin-left: 20px; */
  /* background-color: lightcoral; */
}

.TreatmentHistoryList_title {
  font-weight: bold;
  font-size: larger;
}

.TreatmentHistoryList_border {
 
  padding: 10px 10px 0 10px;
  font-size: small;
}

.TreatmentHistoryList_Totaltable{
  overflow-y: auto;
  height: 550px;
}

.TreatmentHistoryList_table {

  
  text-align: center;
  height: 100%;
  width: 70px;
}
/* .TreatmentHistoryRead_2_table_tbody{
  height: 2%;
} */
.TreatmentHistoryList_table_thead {
  background-color: lightgray;
}

/* TreatmentHistoryRead */
.TreatmentHistoryRead {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 20px;
  padding-top: 1%;
  
 
  /* margin-left: 25px; */
}

.TreatmentHistoryRead_title {
  font-weight: bold;
  font-size: larger;
  /* margin-left: 20px; */
  margin-top: 20px;
  
}
.TreatmentHistoryRead_border {
  padding: 10px 10px 0 10px;
  font-size: small;
}
.TreatmentHistoryRead_1_table {
  text-align: center;
  
  /* height: 100%;
  width: 750px; */
}
.TreatmentHistoryRead_2_title {
  /* font-weight: bold; */
  font-size: medium;
  
  margin-top: 20px;
  margin-bottom: 5px;
}
.TreatmentHistoryRead_2_table {

  text-align: center;
  height: 100%;
  width: 750px;
  border-spacing: 0px;
}
.TreatmentHistoryRead_2_table_thead {
  background-color: lightgray;
}



.TreatmentImgRead{
  /* margin: 20px; */
}
.TreatmentImgRead_1{
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 0;

}
.TreatmentImgRead_1_1{
  margin-right: 50px;
  margin-top: 135px;
  font-size: 25px;
  margin-left: 30px;
  text-align: left;
}
.TreatmentImgRead_2{
  margin-bottom: 10px;
  text-align: right;
  margin-right: 10px;
}

.TreatmentSearchPop_1{
  margin-bottom: 10px;
}
.TreatmentSearchPop_3{
  text-align: right;
}