/* Register 컴포넌트 배치 CSS */

.Register {
  display: flex;
  flex-direction: column;
  margin: 1% 1% 1% 1%;
}
.Register_1 {
  display: flex;
  flex-direction: row;
  /* background-color: blue; */
  height: 40%;
}
.Register_2 {
}
.Register_2_header {
  font-size: larger;
  font-weight: bold;
}
.Register_Components {
  display: flex;
  flex-direction: row;
  /* background-color: blueviolet; */
  height: 50%;
  margin-top: 10px;
  padding: 10px;
}

/* RegisterList */

.RegisterList {
  display: flex;
  flex-direction: column;
  width: 70%;
  /* background-color: aqua; */
  /* margin: 1% 1% 1% 1%; */
  height: 100%;
}
.RegisterList_header {
  display: flex;
  flex-direction: row;
}
.RegisterList_header_content {
  flex-grow: 9;
  font-size: larger;
  font-weight: bold;
}
.RegisterList_header_button {
  flex-grow: 3;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}
.RegisterList_content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 3px;
  padding: 10px 10px 0 10px;
}
.RegisterList_content_1 {
  display: flex;
  flex-direction: row;
  margin: 3px;
}
.RegisterList_content_1_1 {
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  font-size: small;
}
.RegisterList_content_1_2 {
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  justify-content: space-between;
}
.RegisterList_content_1_2_ready {
  color: #009900;
}
.RegisterList_content_1_2_finish {
  color: #00aaf0;
}
.RegisterList_content_1_2_cancel {
  color: #ff6600;
}
.RegisterList_content_1_3 {
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  justify-content: flex-end;
}
.RegisterList_content_2 {
  margin-top: 5px;
  text-align: center;
  font-size: small;  
  overflow-y: scroll;
  height: 250px;
}
.RegisterList_content_2_tr:hover{
  background-color: #00AAF0;
  color:white;
  cursor: pointer;
}
thead {
  background-color: lightgray;
  position: sticky;
  top: -1px;
}
/* RegisterRead */
.RegisterRead {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100% !important;
  /* background-color: brown; */
  margin: 3px 0 1% 1%;
}
.RegisterRead_header {
  font-size: larger;
  font-weight: bold;
}
.RegisterRead_content {
  display: flex;
  flex-direction: row;
  font-size: small;
}
.RegisterRead_content_form {
  width: 100%;
}
.RegisterRead_content_list {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  margin-bottom: 6px;
}
.RegisterRead_content_list_label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38%;
}
.RegisterRead_content_list_input {
  display: flex;
  width: 62%;
}
.RegisterRead_content_list_input > input,
select {
  width: 95%;
}
.RegisterRead_content_list_input_readOnly{
  border:none;
}
.RegisterRead_content_list_input_readOnly:focus{
  outline:none;
}
.RegisterRead_content_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 18px;
}

/* RegisterUpdateForm */
.RegisterUpdateForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100% !important;
  /* background-color: brown; */
  margin: 3px 0 1% 1%;
}
.RegisterUpdateForm_header {
  font-size: larger;
  font-weight: bold;
}
.RegisterUpdateForm_content {
  display: flex;
  flex-direction: row;
  font-size: small;
}
.RegisterUpdateForm_content_form {
  width: 100%;
}
.RegisterUpdateForm_content_list {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  margin-bottom: 6px;
}
.RegisterUpdateForm_content_list_label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38%;
}
.RegisterUpdateForm_content_list_input {
  display: flex;
  width: 62%;
}
.RegisterUpdateForm_content_list_input > input,
select {
  width: 95%;
}
.RegisterUpdateForm_content_list_input_readOnly{
  border:none;
}
.RegisterUpdateForm_content_list_input_readOnly:focus{
  outline:none;
}
.RegisterUpdateForm_content_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 18px;
}

/* RegisterPatientList */
.RegisterPatientList {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}
.RegisterPatientList_header {
  font-size: medium;
  font-weight: bold;
}
.RegisterPatientList_search {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  padding: 10px 0 10px 0;
}
.RegisterPatientList_search_input {
  display: flex;
  font-size: small;
  flex-grow: 3;
}
.RegisterPatientList_search_input_1 {
  width: 100%;
  display: flex;
}
.RegisterPatientList_search_button {
  display: flex;
  flex-grow: 9;
  align-items: center;
}
.RegisterPatientList_content {
  text-align: center;
  padding: 10px;
  height: 100%;
}
.RegisterPatientList_content_table {
  font-size: small;
  overflow-y: scroll;
  height: 310px;
}
.RegisterPatientList_content_table_tr:hover{
  background-color: #00AAF0;
  color:white;
  cursor: pointer;
}

/* RegisterCreateForm */
.RegisterCreateForm {
  flex-grow: 1;
  /* background-color: crimson; */
  margin: 28px 1% 0 1%;
  font-size: small;
}
.RegisterCreateForm_content {
  padding: 10px;
}

.RegisterCreateForm_cal {
  display: flex;
  justify-content: center;
  zoom: 80%;
}
.RegisterCreateForm_input {
}
.RegisterCreateForm_input_select {
  width: 100%;
}
.RegisterCreateForm_input_textarea {
  width: 100%;
  resize: none;
}
.RegisterCreateForm_button {
  display: flex;
  justify-content: flex-end;
}

/* RegisterTimeTable */
.RegisterTimeTable {
  /* background-color: darksalmon; */
  flex-grow: 8;
  margin: 3px 1% 3px 1%;
  height: 100%;
}
.RegisterTimeTable_content {
  font-size: small;
  text-align: center;
  height: 100%;
}
.RegisterTimeTable_content td,
th {
  padding: 7.5px !important;
}

